:root {
    --main-green:#21c531;
    --background: #f6f8fa;
    --font-black444: #444444;
    --font-black222: #222222;
    --section-margin-top: 50px;
}
/* header 시작 */
header, 
.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px;
    background: var(--background);
}

.header_menu {
    margin: 0;
}

.header_menu > li {
    font-size: 14px;
}

.lang_select {
    border: none;
    outline: none;
    background: var(--background);
    padding: 8px;
    width: 100px;
    color: var(--font-black444);
}

.lang_select:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header_menu > li > a {
    text-decoration: none;
    padding: 14px 24px;

}
.header_menu > li:nth-child(2) > a {
    color: var(--font-black222);
}

.header_menu > li:nth-child(2) >
a:hover {
    text-decoration: underline;
}

.header_menu > li:nth-child(3) > a {
    color: #fff;
    background-color: var(--main-green);
}

.header_menu > li:nth-child(3) > a:hover,
.button_box > button:last-child > a:hoverS {
    box-shadow: 0 2px 8px
 rgba(33,197,49,.54);
}
/* header 끝 */
/* main_cintainer 시작 */

.main_container {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 50px;
}
.phone_img {
    background: url(bg_sloganing.jpg);
    width: 540px;
    height: 695px;
    background-size: 548px auto;
}

.main_text_box > h2 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 16px;
    color: var(--font-black222);
}

.main_text_box > p {
    color: var(--font-black444);
}

.button_box {
    display: flex;
    direction: column;
    margin-top: 16px;
    gap: 12px;
}

.button_box > button {
    border: none;
    padding: 0;
}

.button_box > button > a {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    color: #fff;
    text-decoration: none;
    background: var(--main-green);
    font-size: 16px;
}

.button_box > button:last-child > a {
    background-color: #fff;
    color: var(--font-black222);
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.link_text_box {
    margin-top: 32px;
}

.link_text_box > p {
    margin-top: 16px;
    font-size: 13px;
}

.link_text_box > p > a {
    color: var(--main-green);
    font-weight: ;
}
